body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', 'helvetica';
}
.container {
	max-width: 960px;
	margin: 0px auto;
}
header {
	background-color: rgba(0,0,0,0.7);
	color: #888888;
	text-align: right;
	position: fixed;
	width: 100%;
}
.center {
	text-align: center;
	text-decoration: none;
}
#profile_pic{
	width: 250px;
	height: 250px;
	float: left;
	overflow: hidden;
}
#profile_pic img{
	max-width: 100%;
}
#right_side{
	max-width: 680px;
	float: right;

}
nav ul {
	margin: 0px;
	padding: 0px;
}
nav ul li {
	display: inline-block;
	padding: 10px 20px;
}
nav ul li a {
	color: #888888;
	text-decoration: none;
}
nav ul li a:hover {
	color: #eee;
	text-decoration: none;
}
#one .hero {
	background: url("../images/portfolio2 copy.png") no-repeat center bottom fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#two .hero {
	background: url("../images/Paris_Street_Network_Segment.jpg") no-repeat center bottom fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#three .hero {
	background: url("../images/image-3.png") no-repeat center top fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }
#four .hero {
	background: url("../images/image-4.png") no-repeat center bottom fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.hero {

  	background-position: top;
  	color: #ffffff;
 /* 	text-shadow: 1px 1px 1px #000;*/
  	padding: 200px 0px;
  	text-align: center;
  	font-size: 1.4em;
}
.hero h1 {
	font-weight: lighter;
}
.section {
	padding: 80px 0px;
	color: #ffffff;
}
.section h2 {
	font-weight: lighter;
	margin-bottom: 0px;
}
.section p {
	line-height: 24px;
	font-size: 15px;
	margin-top: 0px;
}
#one .section {
	background-color: #4183D7;
}
#two .section {
	background-color: #fff;
}
#three .section {
	background-color: #1A1E73;
}
#four .section {
	background-color: #808286;
}
button {
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
	border-radius: 5px;
	font-size: 14px;
	padding: 14px 30px;
	margin: 18px auto;
}
button:hover {
	background-color: #eeeeee;
	border: 2px solid #808286;
	color: #808285;
}

/*.portfolio {
	width: 250px;
	height: 200px;
	padding: 20px;
	margin: 10px;
	display: inline-block;
	color: white;
	background-color: red;
}*/
.project {
	width: 270px;
	height: 250px;
	margin: 20px;
	overflow: hidden;	
	display: inline-block;
	color: white;
	background-color: red;
	position: relative;
}
.project img{
	max-width: 130%;
}
/*#project1 {
	width: 250px;
	height: 250px;
	padding: 20px;
	margin: 10px;
	background: url("../images/blog_item1.jpg");
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}*/

.image_overlay {
	position: absolute;
	width: 270px;
	height: 250px;
	top: 0;
	left: 0;
	color: rgba(0, 0, 0, 0);
}

.image_overlay:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
#portfolio_description{
	padding: 20px;
}

#footer{
	background-color: #eeeeee;
	height: 200px;
}